.img-div {
  position: relative;
}

.img-div > p {
  position: absolute;
  bottom: -5px;
  left: 5px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.img-div > img {
  transition: all 1s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}
